* {
    margin: 0;
    padding: 0;
}

.sora-thin {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.sora-extralight {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.sora-light {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.sora-regular {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sora-medium {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.sora-semibold {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.sora-bold {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.sora-extrabold {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}